flask
lxml
flask-socketio
langchain
google-generativeai
requests
langchain==0.3.21
langchain-chroma==0.2.2
langchain-community==0.3.20
langchain-core==0.3.48
langchain-openai==0.3.10
langchain-postgres==0.0.13
langchain-text-splitters==0.3.7
langchain_google_genai
langgraph==0.4.7
numexpr==2.10.2
sentence-transformers
opensearch-py